# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
*.xml
*.iml
*.pyc

/.vscode/settings.json
/PartA_Data_Process/.idea
/PartA_Data_Process/.vs

/PartB_Hash/cuckoohash/.vs
/PartB_Hash/cuckoohash/build
/PartB_Hash/cuckoohash/install
/PartB_Hash/cuckoohash/out/
/PartB_Hash/cuckoohash/libcuckoo
/PartB_Hash/cuckoohash/nlohmann_json
/Data/
/Old_Data/

/Auxiliary/problematic.rules
/auxiliary/rules/*
!auxiliary/rules/snort3-community-rules.tar.gz
!auxiliary/rules/snortrules-snapshot-3190.tar.gz


