# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
*.xml
*.iml
/partA - Data Process/__pycache__/ExactMatchExtractor.cpython-311.pyc
*.pyc
Part A - Data Process/SnortRulesParsercp.py
Part B - libcuckoo version/cuckoohash/.vs
Part B - libcuckoo version/cuckoohash/install
Part B - libcuckoo version/cuckoohash/libcuckoo
Part B - libcuckoo version/cuckoohash/out

